<h1>Log In</h1>
<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>" id="authenticity_token">

  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]">

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]">

  <input id="logout" type='submit' value='Log In' class="btn btn-default">
</form>
