<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          <span class="glyphicon glyphicon-list-alt"></span> <%= card.escape('title') %>
        </h4>
      </div>
      <div class="modal-body">
        <a href="#" class="edit-description-toggle">
          <span class="glyphicon glyphicon-pencil"></span> Edit the description...
        </a>
        <div class="card-description"><%= card.escape('description') %></div>
        <hr>
        <div class="modal-todos">
          <h5 class="modal-item">
            <span class="glyphicon glyphicon-list"></span> Items
          </h5>
          <div class="todo-items">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>