<div class="row text-center">
  <div class="jumbotron col-xs-4 col-xs-offset-4">

    <h1>Sign Up</h1>
    <form action="<%= users_url %>" method="POST">
      <input type="hidden" name="authenticity_token"
             value="<%= form_authenticity_token %>" id="authenticity_token">

      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" name="user[username]" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" name="user[email]" class="form-control">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" name="user[password]" class="form-control">
      </div>

      <p>
        <input type='submit' value='Sign Up' class="btn btn-default btn-lg">
      </p>
    </form>

    <a href="<%= new_session_url %>">Back to Log In</a>

  </div>
</div>