.list-object {
  text-align: left;
  font-weight: bold;
  float: left;
  margin: 0.5em 0.5em 0.5em 0;
  width: 25%;
  min-width: 18em;
  max-width: 20em;
  height: auto;
  min-height: 8em;
  background: #DBDBDB;
}

#new-list-submit {
  margin-top: 0.8em;
}

#new-list-text {
  margin-top: 0.6em;
  width: 100%;
}

.taskbin-card-list {
  min-height: 25px;
}