
<form id="new-list-form">
  <input type="text" name="list[title]" placeholder="Add a list..."
         class="form-control" id="new-list-text">
  <p><input type="submit" value="Save List" class="btn btn-tasko" id="new-list-submit"></p>
</form>
