<div class="list-object">
  <h4><%= list.escape('title') %></h4>
  <% cards.forEach(function(card) { %>
    <div class="tasko-card">
      <button class="btn btn-tasko-card card-show-modal"
              data-id="<%= card.id %>" data-toggle="modal" data-target="#cardModal">
        <div><%= card.escape('title') %></div>
        <div class="card-progress">
          <span class="glyphicon glyphicon-th-list"></span> Progress
        </div>
      </button>
    </div>
  <% }); %>

  <div>
    <a href="#" class="add-card-toggle">Add a card...</a>
  </div>

</div>